
<div class="row">
  <div class="col-lg-12">
      <div class="row">

        <div class="col-6 form-group">
          <h2>Penguin-ears</h2>
          <div *ngFor="let article of myarr">
            <ul>
              <li>
                {{ article | number:'1.2-2' }}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-6 form-group">
          <h2>Horseshoe</h2>
          <div *ngFor="let article1 of myarr1">
            <ul>
              <li>
                {{ article1 | number:'1.2-2' }}
              </li>
            </ul>
          </div>
        </div>

      </div>



  </div>
</div>
